* {
    box-sizing: border-box;
    /*요소의 크기를 content가 아닌, border(테두리까지)의 기준*/
}


body {
    margin: 0;
    padding: 0;
    /*영역전체를 사용할 수 있도록!*/
    font-family: 'Noto Sans KR', sans-serif;;
}


a:link, a:visited {
    text-decoration: none;
    color: black;
}

.container {
    width: 980px; /*이만큼 내용이 차지하게*/
    margin: 0 auto;
}

/*nav*/

nav {
    height: 80px;
    background-color: rgb(247, 238, 199);
    line-height: 80px; /*위로부터 글자간격!*/
}

nav ::after { /*공간 분리벽, 내용이 흐르지 않게!*/
    content: "";
    display : block;
    clear: both;
}

.nav-logo {
    font-size: 30px;
    float: left;
    margin: 0;
}

.nav-menu {
    float: right;
}

.nav-btn {
    margin: 0;
    list-style-type: none;
}

ul.nav-btn > li {
    float: left;
    margin-left: 25px;
    font-size: 20px;
    font-weight: bold;

}

/* header */
.hd {
    position: relative;
    height: 600px;
    text-align: center;
}

.hd-title {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 200px;
}

.hd-content {
    font-size: 25px;
}

.hd:before {
    content : "";
    display : block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; /*불투명도*/
    background-image: url("https://imgnn.seoul.co.kr/img/upload/2020/05/21/SSI_20200521145503.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* 컨테이너 위에 저 before내용이 있는거임! */
.hd .container {
    position: relative;
    color: rgba(92, 89, 78, 0.666);
}

.sec {
    text-align: center;
    padding: 100px 0;
    background-color: rgb(247, 238, 199);
}

.sec article {
    float: left;
    width: 300px;
    margin-right: 20px;
}

.sec article:last-child {
    margin-right: 0;
}

.sec article img {
    width: 100%;
    height: auto;
}

.card-img {
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.sec::after {
    content : "";
    display: block;
    clear: both;
}

/* footer */
.ft {
    padding : 15px;
    text-align : center;
    background-color :rgba(216, 204, 158, 0.459)
}